/* En este archivo escriban su CSS */

/* Fonts */

@import url('https://fonts.googleapis.com/css2? family=Arima:wght@300&family=Lato&family=Lusitana&family=Merienda:wght@400;700&family=Playfair+Display:ital@1&family=Raleway:ital,wght@1,300&display=swap');


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}


body{

   /* font-family: 'Lato', sans-serif;*/
   font-family:'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-image: linear-gradient(violet,aqua  ,white);
    color: #0f0f0f;
   min-height: 90vh;
   animation-duration: 2s;
}

img {
    max-width: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 16px;
    height: 100px;
    width: 100%;
    background-color: #fbfbfb;
    top: 0%;
    left: 0%;
    box-shadow: 0 3px 10px --5px #af599e;

}


#menu-button {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}


img#close-menu {
    display: none;
}


#menu-principal{
   display: flex; 
    list-style: none;
    font-size: 20px;

}    


/* inicio- contacto*/
.menu-item {
 padding: 16px;
 color: inherit;
   display: inline-block;
}   

.menu-item a:hover{
    background-color:#af599e;
    padding: 5px;
}    

li.menu-item:hover,
li.menu-item.active {
    background: #af599e;
    transition: background-color 0.3s;
}

/* Estilos para menu mobile */
body.mobile-menu-active {
	overflow: hidden;
}

body.mobile-menu-active img#close-menu {
	display: block;
}

body.mobile-menu-active img#open-menu {
	display: none;
}

body.mobile-menu-active header {
	height: 100vh;
	flex-wrap: wrap;
	align-items: flex-start;
	transition: height 0.3s;
}

body.mobile-menu-active nav {
	display: block;
	width: 100%;
	height: 50%;
}

body.mobile-menu-active ul#menu-principal {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;

}


/*body.mobile-menu-active article {
    width: 100%;
}*/




/* logo eidos*/
.logo{
    width: 100px;
    display: flex;
 display: inline-block;
 padding-top: 0px;
 align-items: flex-end;
}

/* Menú de navegación */
nav {
    display: none;
}


/*foto fulvia*/
.fulvia{
 width: 100%;
 max-width: 300px;

 border-radius: 50%;
 /* margin: 50px;
   float: left;   lo saque haciendo las modificaciones*/
}

h1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    text-align: center;
    padding-top: 5px;
}

p{
    margin: 16px 0;
}


/*descargar cv */
.cv{
    font-size: 20px;
    background-color: #af599e;
    color: #fbfbfb;
    padding: 16px 20px;
    border-radius: 50px;
    height: 60px;
    display: inline-block

}

/*  boton hamburguesa*/
#menu-button{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

main {
    max-width: 1200px;
    margin: auto;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
}


/* Sección Inicio */
section#inicio {
    flex-direction: column;
    justify-content: space-around;
}

article{
    width: 50%;
}



section#contacto p {
    text-align: center;
    max-width: 600px;
    /* probar si sacando esto no pasa nada*/
 flex-direction: row;

}


article.section2{
    background: rgba(175, 89, 158, 0.3);
    text-align: center;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

h2{
    font-size: 28px;
}

ul{
    list-style: none;
}

ul#contact-links {
    display: flex;
  /*  margin-top: 20px; esto saco como correccion */

}


ul#contact-links li {
   /* margin: 16px;   esto lo saco como correcion */
    padding: 8px;
    border-radius: 4px;
 
}

ul#contact-links li:hover {
    background:  #af599e;
    transition: background-color 0.3s;
}

img.redes {
    width: 80px;
}


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}    

footer{
    background-color: #af599e;
    color:#fbfbfb ;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Desktop */

@media (min-width: 1024px) {
    h1 {
        font-size: 48px;
        text-align: left;
    }

    h2 {
        font-size: 32px;
    }

    section#inicio {
        flex-direction: row;
    }


    .fulvia    {
        width: 350px;
    }

    ul#contact-links li {
        margin: 32px; 
    }

    #menu-button {
        display: none;
    }

    nav {
        display: block;
    }

    body.mobile-menu-active header {
		height: 90px;
		align-items: center;
	}
	body.mobile-menu-active nav {
		height: auto;
		width: auto;
	}

	body.mobile-menu-active ul#menu {
		flex-direction: row;
	}

}


