/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2? family=Lato&family=Lusitana&family=Merienda:wght@700&family=Playfair+Display:ital@1&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador. 
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}


body{

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
   min-height: 90vh;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    top: 0%;
    left: 0%;
    box-shadow: 0 3px 10px --5px #af599e;

}


#menu-principal{
   display: flex; 
    list-style: none;
    font-size: 20px;

}    


/* inicio- contacto*/
.menu-item {
    text-decoration: none;
    padding: 20px;
    color: inherit;
   padding: 10px; 
   display: inline-block;
}   

.menu-item a:hover{
    background-color:#af599e;
    
    padding: 5px;
}    


/* logo eidos*/
.logo{
    width: 120px;
    display: flex;
 display: inline-block;
 padding-top: 20px;
 align-items: flex-end;
}

/*foto fulvia*/
.fulvia{
 width: 400px;
 border-radius: 60%;
  margin: 50px;
   float: left;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-align: left;
}

p{
    margin: 16px 0;
}


/*descargar cv */
#button{
    font-size: 20px;
    background-color: #af599e;
    color: #fbfbfb;
    padding: 10px 15px;
    border-radius: 20px;
}



/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    /* lugar para el header */
    padding-top: 90px;
}


/* Sección Inicio */
section#inicio {
    flex-direction: row;
    justify-content: space-around;
}



section#contacto p {
    text-align: center;
    max-width: 600px;
 flex-direction: row;

}


article.section2{
    background: rgba(175, 89, 158, 0.3);
    text-align: center;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
}

h2{
    font-size: 32px;
}

ul{
    list-style: none;
}

ul#contact-links {
    display: flex;
    margin-top: 20px;

}


ul#contact-links li {
    margin: 32px;
    padding: 10px;
    border-radius: 4px;
 
}

ul#contact-links li:hover {
    background:  #af599e;
    transition: background-color 0.3s;
}

img.redes {
    width: 80px;
}


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}    

footer{
    background-color: #af599e;
    color:#fbfbfb ;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/